{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "react-intl-auto",
      {
        "separator": "_"
      }
    ],
    [
      "module-resolver",
      {
        "root": "./src"
      }
    ],
    [
      "transform-imports",
      {
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        }
      }
    ]
  ]
}
