{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "ignorePatterns": [
    "public/*.js"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js"
        ]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "src/"
        ],
        "extensions": [
          ".js"
        ]
      }
    }
  }
}