.form {
  width: 100%;
  text-align: center;
  .btnAdd {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .formData {
    padding-left: 10px;
    td[class*='ant-table-cell'] {
      padding: 10px;
    }
  }
}
