.listsong {
  display: flex;
  flex-wrap: wrap;
  .song {
    margin: 10px;
    position: relative;
    border-radius: 10px;
    width: 150px;
    height: auto;
    padding: 1rem;
    background-color: rgba(216, 187, 187, 0.5);
    overflow: hidden;
    .play {
      width: 1px;
      height: 1px;
      visibility: hidden;
    }

    img {
      object-fit: cover;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    &:hover {
      opacity: 1;

      .play {
        visibility: visible;
        position: absolute;
        top: 45%;
        left: 60%;
        transform: translate(-50%, -50%);
        animation: mymove 1s;
        animation-duration: 1s;
        transition: 0.5s;

        button {
          visibility: none;
          background-color: transparent;
          border: 0px;
        }

        svg {
          width: 3rem;
          height: 3rem;
          display: block;
          cursor: pointer;
        }
      }
    }

    .nameAndArtist {
      padding: 5px 0px;
      line-height: 1;
      display: flex;
      flex-direction: column;
      .artist {
        display: flex;
        flex-direction: flex-end;
      }
    }
  }
}
