.form {
  text-align: center;
  .btnadd {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  tbody[class*='ant-table-tbody'] {
    tr {
      background-color: white;
    }
  }
}
