.leftNavbar {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  background-color: $color-black;
  color: white;
  padding: 1rem;
  .active {
    color: red;
  }

  .title {
    display: flex;
    color: $color-black;
    width: 4rem;
    height: 4rem;
    align-items: center;
    margin-bottom: 2rem;

    h1 {
      align-items: center;
      padding: 0px 10px;
      color: white;
      font-weight: 700;
      margin: auto;
    }

    .logo {
      display: flex;
      justify-content: center;

      svg {
        width: 3rem;
        height: 3rem;
      }
    }
  }
  .optionNavbar {
    padding: 0;
    ul {
      list-style: none;
      padding: 0 !important;
    }
    .icon {
      opacity: 0.8;
      text-decoration: none;
      display: flex;
      align-items: center;

      svg {
        width: 3rem;
        height: 3rem;
        padding: 5px 10px;
      }
      a {
        color: $color-white;
        text-decoration: none;

        span {
          font-size: 0.875rem;
          line-height: 0.375rem;
          font-weight: bold;
        }
      }
    }
  }
  .bottomNavbar {
    margin-top: 20px;

    .iconBottom {
      span {
        font-size: 0.875rem;
        margin: auto 0;
      }
      display: flex;

      SVG {
        align-items: center;
        width: 3rem;
        height: 3rem;
        padding: 5px 10px;
      }
    }
  }
}
