.app-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .left-nav-bar-wrapper {
    width: 250px;
    z-index: 999;
  }

  .display-content-wrapper {
    flex-grow: 1;
    width: 100%;
  }
}
